
.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

/* header */
.banner{
    background-image: url('../B10A1-Challenge-Begins-main/assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1440px;
    padding: 100px 0;
}
/* Nav style */
nav{
font-size: 28px;
font-weight: 800;
display: flex;
align-items: center;
justify-content: space-around;
margin: 10px 120px;
text-align: center ;
}

/* button design */
.contact-btn{
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
font-size: 16px;
font-weight: 600;
padding: 16px 20px 16px 20px;
}

nav .btn{
border: 1px solid rgb(13, 19, 33);
border-radius: 8px;
padding: 12px 20px 12px 20px;
margin: 0px 10px;
opacity: 0.8;
}

.section-btn{
    border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
margin: 32px 0px;
font-size: 16px;
font-weight: 600;
text-align: center;
padding: 12px 20px;
}
/* banner styles */
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0 auto;
}
.banner-pic{
    width: 240px;
}
.banner-title{
    color: rgb(13, 19, 33);
font-size: 38px;
font-weight: 700;
text-align: center;
}
.description{
    color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
line-height: 26px;
text-align: center;
}
/* main section */

.second-page{
    display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
border-radius: 16px;
background: rgba(13, 19, 33, 0.02);
max-width: 1140px;
margin: 48px auto;
gap: 24px;

}
.first-part{
    margin: 24px, 0;
    padding: 0;
}
.section-title{
    color: rgb(13, 19, 33);
font-size: 30px;
font-weight: 800;
text-align: center;
}

.secondary-bg{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin: 32px, 0;
    padding: 48px;
    border-radius: 16px;
    background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
.section-content{
    display: flex;
    justify-content: left;
    padding: 0px;

}
.section-heading{
    color: rgba(13, 19, 33, 0.7);
font-size: 20px;
font-weight: 700;
text-align: left;
}
.sec-description{
    color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
margin: 16px 0px;
opacity: 0.7;
text-align: left;
}
.my-inspiration{
    display: flex;
    max-width: 1140px;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    margin: 48px auto;
    box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.2);
border-radius: 16px;

}
.inspiration-sec{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    margin: 16px 0px;
    opacity: 0.7;
    text-align: center;
    margin-bottom: 24px;
}
/* card style */
.skill-container{
    display: flex;
flex-direction: row;
justify-content: space-around;
align-items: left;
padding: 0px;
margin: 48px auto;
background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
 .skill1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
    padding: 40px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    margin: 0px 24px;
    }
 .skill2{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
    margin: 0px 24px;
 }
 .skill3{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px;
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
    margin: 0px 24px;
 }
 .heading{
    color: rgb(13, 19, 33);
font-size: 22px;
font-weight: 800;
line-height: 36px;
margin: 8px 0px;

 }
 .skills{
    max-width: 1140px;
    margin: 110px auto;
    align-items: center;
    justify-content: center;
 }
 /* I need your support style */
 .background{
background-image: url('../B10A1-Challenge-Begins-main/assets/handshake.jpg') ;
max-width: 1140px; 
display: flex;
height: 314px;
position: absolute;
background-repeat: no-repeat;
background-size: cover;
background: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2);
margin: 0px, auto;
box-sizing: border-box;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 64px 100px 64px 100px;
border-radius: 16px;
margin: 32px auto;
}
.support-head{
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
}
.support-des{
    color: rgb(255, 255, 255);
    font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
}
.feedback{
    box-sizing: border-box;
    color: rgba(13, 19, 33, 0.4);
border-radius: 8px;
background: rgb(255, 255, 255);
margin: 0 16px;
align-items: center;
padding: 5px 8px;
}
.submit{
    border-radius: 8px;
background: rgb(255, 255, 255);
}
.input{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
margin: 24px 0px;
}

